*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-image: url(./Assest/video/universevideo.mp4);
    overflow-x: hidden;
    /* gap: 0.5rem; */
}
.sidebar{
    display: flex;
}
/* HEADER CSS */
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    z-index: 1;
}
/* navbar */
nav{
    display: flex;
    align-items: center;
    gap: 2rem;
}
nav li{
    list-style: none;
}
/* list anchor tag */
nav li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 0.9rem;
    font-style:normal;
    transition:  2s;
}
/* HOVER ON ANCHOR TAG OF LI */
nav li a:hover{
   color: red;
   text-decoration: underline;
}
/* navbar logo img */
.logo img{
    width: 7rem;
}

  /* Dropdown  Galler or Appoitment css*/
  .dropdown .dropbtn {
    font-size: 1rem;
    border: none;
    background-color: inherit;
    font-family: inherit;
    color: #ffffff;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 13rem;
  }

  .dropdown-content a {
    float: none;
    color: #000000;
    padding: 0.4rem 2rem;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: 1s;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* DROPDOWN CONTENT HOVER  */
  .dropdown-content a:hover{
    color: red;
    border-bottom: 2px solid red;
  }

/* BACKGROUND IMAGE CSS */
.bgcimage{
     background-image: url(./Assest/image/bgcphoto.jpeg);
    width: 100vw;
    /* height: 100vh;   */
    height: 34rem;
    position: absolute;
    top: 0%;
    left: 0%;
    object-fit: cover;
    z-index: -10;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* MAIN OR HERO SECTION CSS */

main{
    /* position: absolute; */
    top: 22.1%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.leftmain{
    color: white;
    display: flex;
    flex-direction:column;
    gap: 2rem;
    text-align: center;
    align-items: center;
}
.leftmainpara{
    font-size: 1.5rem;
    font-weight: 900;
    color: #FF9500;
}
.leftmainheading{
    color: #FF3A2D;
    font-size: 2.8rem;
}
.rightmain img{
    width: 20rem;
}
.sanskitheading{
    color: #F4F11D;
    background-color: #FF0000;
    padding: 0rem 1rem;
}
/* Hamburger icons */

.hamicon{
    color: white;
    display: none;
}
.hamicon i{
    /* border: 2px solid green; */
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    left: 2rem;
    color: #ffffff;
    cursor: pointer;
}
.cross i{
    font-size: 25px;
}

/* SEARCH ICON AND  INPUT CSS */
.searchicon{
    display: flex;
    gap: 2rem;
    position: relative;
    border: 2px solid black;
}
.searchicon input{
    width: 7rem;
    background-color:white;
    border: 2px solid black;
    border-radius: 2rem;
}

.fa-magnifying-glass{
    color: black;
    position: absolute;
    right: 30%;
    bottom: 10%;
}

/* RESPONSE CSS FOR DIFFERENT CSS */
@media only screen and (max-width:1024px){
  main{
    top: 18%;
    gap: 0.8rem;
  }
}
@media only screen and (max-width:950px){
    .sidebar{
        flex-direction: column;
        position: absolute;
        background-color: #ffffff;
        padding: 40px 20px 20px 20px;
        left: -10rem;
        top: 55px;
        text-align: center;
        border-radius: 5px;
        box-shadow: 5px 8px 5px rgb(124, 93, 93);
        transition: all;
    }
    .sidebar li a{
        color: #000000
    }
    .dropdown .dropbtn{
        color: #000000;
    }
    nav{
        flex-direction: column;
    }
    .hamicon{
        display: block;
    }
    .cross{
        display: none;
    }
    .side-active {
        transform: translateX(100);
        /* visibility: visible; */
        opacity: 2;
        left: 0;
        top: 55px;
        color:black;
    }
    .active {
        display: block;
    }

    .not-active {
        display: none;
    }
    .dropdown-content{
        width: 12rem;
    }
    .logo img{
        width: 4rem;
    }
}
@media only screen and (max-width:768px){
    header{
        align-items: center;
        justify-content: space-evenly;
    }
    .logo img{
        width: 4rem;
    }
    .hamicon{
        border: 2px solid black;
        top: 1rem;
    }
    main{
        bottom: 10%;
        gap: 1rem;
        flex-direction: column-reverse;
    }
    .leftmainheading{
        font-size: 1rem;
    }
    .sanskitheading{
        font-size: 1.4rem;
    }
    .leftmainpara{
        font-size: 1.5rem;
    }
    .leftmainheading{
        font-size: 1.5rem;
    }
    .rightmain img{
        width: 10rem;
    }
}
@media only screen and (max-width:425px){
    .logo img{
        width: 3rem;
    }
    .searchicon{
        display: none;
    }  
}

/* ABOUT ME AND FACEBOOK FEED */

.aboutme-faceebook-feed
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 100vw;
    gap: 2rem;
}
.heading-facebook-feed{
    font-size: 2rem;
    font-weight: 900;
    font-style: italic;
    /* background-image: linear-gradient(red,yellow); */
    color: rgba(240, 79, 79, 0.693);
}
.aboutme-feed{
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-around;
}
.aboutme{
    width: 30rem;
    height: 20rem;
    position: relative;
    box-shadow: 5px 10px 5px rgba(74, 71, 71, 0.64);
}
.aboutmeimg{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    right: 5%;
}
.color{
    width:30rem;
    height: 10rem;
    background-color: #29243A;
}
.aboutme-content{
    width: 14rem;
    position: absolute;
    bottom: 5%;
    left: 10%;
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.5rem;
    box-shadow: 5px  10px 5px rgba(175, 158, 158, 0.745);
}
.know-more{
    width: fit-content;
    padding: 0.2rem 2rem;
    border-radius: 0.5rem;
    background-color: #29243A;
    color: white;
    transition: 1s;
}
.know-more:hover{
    color: red;
}
.aboutme-content p{
    font-weight: 400;
    font-size: 0.6rem;
}
.facebook-feed {
    padding: 4px; 
    width: 30rem;
    height: 20rem;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}
/* RESPONSE FOR DIFFERENT SCREEN */
@media only screen and (max-width:985px){
 .aboutme{
   width: 23rem;
   height: 15rem;
 }
 .color{
    width: 22.8rem;
 }
 .facebook-feed{
    padding: 1rem;
    width: 20rem;
    height: 15rem;
 }
 .aboutmeimg{
    width: 10rem;
    height: 10rem;
 }
 .aboutme-content{
    left: 3%;
 }
 .aboutme-feed{
    justify-content: center;
 }
 .facebook-feed{
    width: 23rem;
    box-shadow: 5px 10px 5px rgb(108, 99, 99);
 }
 .facebook-feed iframe{
    width: 20rem;
    height: 10rem;
 }
}
@media only screen and (max-width:768px){
    .aboutme-faceebook-feed{
        flex-direction: column;
        gap: 1rem;
        padding: 4rem;
        text-align: center;
    }
   .aboutme-feed{
       flex-direction: column;
       gap: 2rem;
   }
   .facebook-feed iframe{
    width: 30rem;
    height: 15rem;
   }
}
@media only screen and (max-width:425px){
    .aboutme-faceebook-feed{
        padding: 3rem;
    }
}
@media only screen and (max-width:375px){
  .aboutme{
    width: 21rem;
  }
  .aboutme-content{
    width: 11rem;
    height: 10rem;
    gap: 0.2rem;
  }
  .color{
    width: 21rem;
  }
}
/* SERVCIES CSS */
.service{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    gap: 1rem;
    position: relative;
}
.ganeshjimg{
    width: 67rem;
    border-radius: 0.5rem;
}
.ganeshimage:hover{
    zoom: 10%;
    border: 2px solid rebeccapurple;
}
.servicecards{
    display: flex;
    gap: 1rem;
    position: absolute;
    bottom: -1%;
}
.servicecard{
    padding: 2rem;
    position: relative;
    color: black;
    background-color:rgb(53, 105, 53);
    border-radius: 0.5rem;
    color: white;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    gap: 1rem;
}
.servicecardpara{
    width: 10rem;
    text-align: start;
    font-weight: 300;
}
.servicecardlogo{
    width: 5rem;
    position: absolute;
    top: -30%;
    left: 30%;
}
/* RESPONSE FOR DIFFERENT SCREEN */
@media only screen and (max-width:1024px){
  .ganeshjimg{
    width: 47rem;
  }
  .servicecard{
    border: 2px solid pink;
    width: 10rem;
    height: 10rem;
  }
  .servicecardlogo{
    top: -35%;
  }
}
@media only screen and (max-width:768px){
  .ganeshjimg{
    width: 26rem;
  }
  .servicecards{
    /* flex-direction: column; */
    gap: 0rem;
  }
  .servicecard{
    width: 6rem;
    height: 10rem;
    /* overflow: hidden; */
  }
  .servicecardlogo{
    width: 3rem;
    bottom: 0%;
    top: 10%;
  }
}
@media only screen and (max-width:425px){
    .ganeshjimg{
        width: 20rem;
    }
    .servicecard{
        width: 4rem;
        height: 4rem;
    }
}
@media only screen and (max-width:375px){
    .ganeshjimg{
        width: 10rem;
        border: 2px solid red;
    }
    .servicecard{
        width: 2rem;
    }
}
/* COUNTERS */
.counting{
    /* margin-top: 0.8rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color:#ffffff;
    width: 100vw;
    padding: 1rem;
    background-color: #6f6363;
}
.counting img{
    width: 15rem;
}
.counters{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 16rem;
    border-radius: 1rem;
    padding: 1rem;
}
.countercard{
    display: flex;
    gap: 0.9rem;
}
.count{
    font-size: 2rem;
    color: white;
    font-style: italic;
}
#redcount{
    background-color: #453c3c87;
    color: white;
}
#yellowcount{
    background-color: #F0C40D;
}
.counters:hover{
    transform: scaleY(90deg);
    border: 2px solid white;
    border-radius: 2rem;
}
.countercard1{
    display: flex;
    gap: 1rem;
}
.countercard2{
    display: flex;
    gap: 1rem;
}
/* COOUTING RESPONSE */
@media only screen and (max-width:1024px){
  .counters{
    padding: 0.2rem 1rem;
    width: 12.5rem;
  }
 }
@media only screen and (max-width:850px){

  .countercard{
    flex-direction: column;
  }
  .countercard1{
    flex-direction: column;
    gap: 1rem;
  }
  .countercard2{
    flex-direction: column;
    gap: 1rem;
  }
  .counters{
    width: 30rem;
  }
}
@media only screen and (max-width:768px){
    .countercard{
        flex-direction: column;
      }
      .countercard1{
        display: flex;
        gap: 1rem;
      }
      .countercard2{
        display: flex;
        gap: 1rem;
      }
      .counters{
        width: 26rem;
      }
}
@media only screen and (max-width:425px){
    .countercard1{
        flex-direction: column;
        gap: 1rem;
    }
    .countercard2{
        flex-direction: column;
        gap: 1rem;
    }
    .counters{
        width: 20rem;
    }
}
@media only screen and (max-width:330px){
  .counters{
    width: 17rem;
  }
}

/* Astrology Css */
.astrologyscouse{
    background-color: #832625;
    padding: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-image: url(./Assest/image/planetphoto.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.astrology-maintitle{
    font-family: Merriweather;
    font-weight: 900;
    font-size: 3rem;
    color: red;
    text-align: center;   
}
.astrology-titledesc{  
    color: aliceblue;
    text-align: center;
    font-size: 1rem;
}
.joincourse{
    text-decoration: none;
    font-size: 12px;
    color: white;
     border-radius: 4rem;
     padding: 0.9rem 2.8rem;
    background-color: #ff382d;
    width: fit-content;
    transition: 2s;   
}
.joincourse:hover{
    background: white;
    color: black;
}

/* YOUTUBE LINK CSS */
.youtubevideo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
    padding: 1rem;
}

.youtubecontent{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: center;
    text-align: center;
}
.subtitle{
    font-size: 16px;
    color: #832625;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
}

.maintitle{
    font-size: 2rem;
    color: #333;
    font-weight: 400;
}

.titledesc{
    text-align: center;
    font-weight: 400;
    color: #262626;
    font-size: 15px;
}

.youtubelink{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
 }

.btn{
    padding: 0.6rem 3.2rem;
    border: 2px solid#832625;
    color: black;
    transition: 2s;
    cursor: pointer;
    border-radius: 0.5rem;
}

.btn:hover{
    background-color: #832625;
    color: white;
}

    .youtubelink iframe{
        width: 20rem;
        height: 15rem;
    }
    /* RESPONSE OF YOUTUBE LINK */
    @media only screen and (max-width :1024px){
        .youtubelink iframe{
            width: 18rem;
            height: 15rem;
        }
        .bgcimage{
            height: 32rem;
        }
    }
    @media only screen and (max-width :990px){
        .youtubelink{
            flex-direction: column;
        }
        .youtubelink iframe{
            width: 45rem;
            height: 30rem;
        }
        .youtubevideo{
            gap: 1rem;
        }
        .youtubecontent{
            /* margin-top: 2rem; */
            width: 100vw;
        }
    }

    @media only screen and (max-width :768px){
        .youtubelink iframe{
            width: 23rem;
            height: 14rem;
        }
        .youtubecontent{
            margin-top: 4rem;
        }
    }
    /* @media only screen and (max-width :494px){
        .youtubecontent{
            /* margin-top: 8rem; */
    
    @media only screen and (max-width :320px){
          .youtubelink iframe{
            width: 18rem;
            height:14rem ;
          }
          .youtubecontent{
            margin-top: 0rem;
          }
  }

/* NEWSLETTER CSS */

.newspaper{
    /* border: 2px solid red; */
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #ea4f24; */
    /* background-image: linear-gradient(#FFB75D 20%,#FF6C60 80%); */
    padding: 1.7rem 0rem;
}
.newspaper img{
   width: 15rem;
   border-radius: 1rem;
}
.newscontent{
    display: flex;
    flex-direction: column;
    width: 20rem;
    gap: 1rem;
}
.newsletter{
    display: flex;
    align-items: center;
    gap: 0.9rem;
    padding: 0.5rem;
    background-color: #F8EDEA;
    border-radius: 0.5rem;
}
.newsubmitbtn{
    /* width: fit-content; */
    padding: 0.5rem 0.7rem;
    border-radius: 1rem;
    background-color: #D03D48;
    border: none;
    color: white;
}
.newscontentinput{
    /* width: fit-content; */
    padding: 0.5rem 1.7rem;
    border-radius: 1rem;
    border: none;
}
.newsubmitbtn:hover{
    background-color: #231b1b;
    border-radius: #1f1d1d;
    color: black;
}
@media only screen and (max-width:600px){
  .newscontent{
    width: 12rem;
  }
  .newscontentinput{
    padding: 0.5rem 0.8rem;
  }
}
@media only screen and (max-width:475px){
   .newscontent{
    width: 20rem;
    align-items: center;
    text-align: center;
   }
   .newscontentinput{
    padding: 0.5rem 1rem;
   }
   .newsletter{
    flex-direction: column;
   }
   .newsubmitbtn{
    padding: 0.5rem 4rem;
   }
}
@media only screen and (max-width:375px){
    .newscontent{
        width: 18rem;
    }
    .newscontentinput{
        padding: 0.5rem 2rem;
    }
}

/* FOOTER */

footer{
    display: flex;
    width: 100vw;
    gap: 5rem;
    padding: 5rem;
    background-color: #333333;
    color: #ABABAB;
}
.left-footer{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: flex-start;
    transition: 2s;
}
.left-footer-icon{
    display: flex;
    gap: 2rem;
    transition: 2s;
}
.footer-heading{
    font-size: 1rem;
    font-weight: 400;
    color: white;
}
.footer-icon{
    border: 2px solid #ABA394;
    padding: 1rem;
    border-radius: 50%;
    color: #ABA394;
}
.footer-icon:hover{
    background-color: red;
}
.center-footer{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.center-footer-list{
    display:flex;
    flex-direction: column;
    gap: 1rem;
    width: 15rem;
}
.center-footer-list a{
    text-decoration: none;
    color: #ABABAB;
    transition: 1s;
}
.center-footer-list a:hover{
    color: red;
    padding-left: 1rem;
}
.right-footer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.right-footer-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 22rem;
}
/* RESPONSE FOOTER  */
@media only screen and (max-width:1024px){
    footer{
        gap: 1rem;
        overflow: hidden;
        padding: 1rem;
    }
    .left-footer-icon{
        gap: 0.5rem;
    }
    .right-footer-content{
        width: 10rem;
    }
    .right-footer{
        width: 12rem;
    }
    .center-footer-list{
        width: 9rem;
    }
}
@media only screen and (max-width:768px){
    footer{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .left-footer{
        gap: 1rem;
    }
    .center-footer{
        gap: 1rem;
        padding-right: 3.5rem;
    }
}

/* REVIEW CARD */
.review-card{
    border: 2px solid red;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userimage img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid ;
}
.userimage{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}